canvas {
  border: 1px solid;
}

.data-wrapper {
  width: 320px;
}

#scale {
  text-align: right;
  float: right;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}