// http://eslint.org/docs/rules/
// http://eslint.org/docs/user-guide/configuring
{
  "extends": "google",
  "rules": {
    "camelcase": 1,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": 0,
    "quotes": 0,
    "strict": 0,
    "linebreak-style": 1,
    "no-var": 1,
    "no-unused-vars": 1,
    "require-jsdoc": 0,
    "valid-jsdoc": 0,
    "max-len": 1,
    "no-invalid-this": 0,
    "padded-blocks": ["error", { "blocks": "never" }],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }]
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
      "browser": true,
      "es6": true,
      "commonjs": true
  }
}