body {
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid;
  margin-right: 20px;
  display: inline-block;
}

#tone-map {
  display: inline-block;
}

#interactive-map {
  display: inline-block;
}

.data-wrapper {
  width: 320px;
}

#scale {
  text-align: right;
  float: right;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}