body {
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid;
  margin: 15px 15px 0 15px;
  display: inline-block;
}

#interactive-map {
  /*user-select: none;*/
}

.data-wrapper {
  width: 320px;
  margin-left: 15px;
}

#scale {
  text-align: right;
  float: right;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}