input[type=range] {
  display: inline-block;
  width: initial;
  vertical-align: middle;
  cursor: -webkit-grab;
  cursor: grab;
}

select.dropdown {
  width: 100%;
  cursor: pointer;
}

button {
  margin: 10px 0;
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  /* overflow: hidden; */
}

h3 {
    font-size: 24px;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.drop-zone {
  width: 95%;
  height: 80px;
  margin: 0 0 15px;
  border: dashed 3px #878787;
  border-radius: 5px;
  background: lightgrey;
}
.drop-zone:hover {
  cursor: -webkit-grabbing;
}
.dropping {
  background-color: lightgrey;
  border-color: lightgrey;
}
.dropping .drop-here {
  color: black;
  text-transform: underline;
}
.drop-here {
  padding: 16px 0 8px 0;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #878787;
}

.widget-minimap-scrubber {
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  /* bottom: -16px;*/
  width: 40px;
  cursor: -webkit-grab;
  cursor: grab;
  position: fixed;
  bottom: 583px;
}

.widget-minimap-button {
  background-color: rgba(255,255,255,1);
  border-radius: 2px;
  display: block;
  height: 25px;
  right: 0;
  overflow: hidden;
  /* position: absolute;*/
  z-index: 99999;
  box-sizing: border-box;
  transition: background-color 0.16s ease-out;
}

.riffle {
  background: no-repeat url('img/riffle.jpg') 11px 11px;
  height: 17px;
  width: 40px;
}

.tool-wrapper {
  position: relative;
  /* border: 1px solid lightgrey;
  border-width: 0 0 1px 0; */
  user-select: none;
  height: 350px;
}

.tool-content {
  /* overflow: hidden;*/
  height: 350px;
}

.container {
  width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-row-layout {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

.flex-column-layout {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.container .flex-item {
  flex-wrap: wrap;
  flex-grow: 0;
  max-height: 180px;
}

.controllers {
  margin: 30px 0;
  border: 1px solid lightgrey;
  border-width: 0 1px 0 0;
  padding: 0 15px;
}

.control label {
  padding-left: 10px;
}